@import "@fontsource/mona-sans/400.css";
@import "@fontsource/mona-sans/500.css";
@import "@fontsource/mona-sans/600.css";
@import "@fontsource/mona-sans/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mona Sans", system-ui, -apple-system, sans-serif;
    background-color: #fafafa;
    color: #262626;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
